# Ignoring everyones personal vscode setting
.vscode 

# Ignoring cache and migration files
*__pycache__
*migrations

# Ignoring environment files containg project key, db credentials and encryption key
/.env
/diet/shared/.env