<!DOCTYPE html>
<html lang="en">
{% load static %} {% load crispy_forms_tags%}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'accounts/css/consent.css' %}">
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js "></script>

    <title>Login</title>
</head>

<body>
    <div class="full-height d-flex align-items-center justify-content-center">
        <div class="card">
            <div class="consent-card">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <h2>Login</h2>
                    <br>
                    {{form | crispy }}
                    <input type="submit" value="Login" class="mt-4 btn btn-primary">
                    <a href="{% url 'accounts:parent_consent'  %}" class=" mt-4 btn btn-success">Parent
                        not already registered? Sign up</a>
                    <a href="{% url 'accounts:forgot_password' %}" class="mt-4 btn btn-danger">Forgot Password</a>
                    <a href="../admin/" class="mt-4 btn btn-warning">Admin Login</a>
                </form>
            </div>
        </div>
    </div>

</body>

</html>