{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags%}

{%block links %}
<script src="{% static 'accounts/js/state_city.js' %}"></script>
{% endblock %}

{% block title %}
<title>Student Information</title>
{% endblock %}

{% block userinfo %}
{% include 'partials/userinfo.html' %}
{% endblock %}

{%block content%}
<div class="d-flex justify-content-center">
    <div class="card shadow border rounded signup-card">
        <form action="" method="POST">
            {{form.media}}

            {% csrf_token %}
            <h2 class="mb-4">Student Information</h2>
            <div class="col-md-12">
                <div id="div_id_email" class="form-group">
                    <label for="id_email"> Email</label>
                    <div>
                        {% if form.email.errors  %}
                            <input type="email" name="email" class="emailinput form-control is-invalid" id="id_email">
                            <p id="error_1_id_email" class="invalid-feedback">
                                <strong>Invalid Email</strong>
                            </p>
                            <small class="form-text text-muted">Email ID is used for password reset.</small>
                        {% else %}
                            <input type="email" name="email" class="emailinput form-control" id="id_email">
                            <small class="form-text text-muted">Email ID is used for password reset.</small>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div id="div_id_name" class="form-group">
                    <label for="id_name" class=" requiredField">
                        Name<span class="asteriskField">*</span>
                    </label>
                    <div>
                        <input type="text" name="name" maxlength="50" class="textinput textInput form-control" required id="id_name">
                        <small class="form-text text-muted">Numbers and special characters are not allowed except apostrophe.</small>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.dob|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        <div id="div_id_mobile_no" class="form-group">
                            <label for="id_mobile_no">
                                Mobile Number
                            </label>
                            <div>
                                <input type="number" name="mobile_no" class="numberinput form-control" id="id_mobile_no">
                                <small class="form-text text-muted">Enter 10 digit mobile number.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.gender|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.pincode|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sts">State*</label>
                            <select onchange="print_city('state', this.selectedIndex);" id="sts" name="state"
                            class="form-control" required></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="state">City*</label>
                            <select id="state" class="form-control" required name="city"></select>
                            <script language="javascript">print_state("sts");</script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                {{ form.address|as_crispy_field }}
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.organization|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.rollno|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                {{user_creation_form|crispy}}
            </div>
            <div class="d-flex justify-content-around">
                <input type="submit" class="btn btn-primary btnmedium" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}