{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags%}

{%block links %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block title %}
<title>My Profile</title>
{% endblock %}

{% block userinfo %}
{% include 'partials/userinfo.html' %}
{% endblock %}

{%block content%}

<center><h1>My Profile</h1></center>


<div class="d-flex flex-column align-items-center">
    <div class="my-card card shadow border rounded">
        <img class="profile-pic mt-2" class="profile-pic" src={{request.user.parentsinfo.profile_pic.url}} >
        <div class="card-body">
            <h6 class="card-text"><b>Name: </b>{{ parent.fname }} {{ parent.mname }} {{ parent.lname }}</h6>
            <h6 class="card-text"><b>Email: </b>{{ parent.email }}</h6>
            <h6 class="card-text"><b>Aadhar Card Number: </b>{{ parent.aadhar }}</h6>
            <h6 class="card-text"><b>Mobile No: </b>{{ parent.mobile_no }}</h6>
            <h6 class="card-text"><b>Date of Birth: </b>{{ parent.dob }}</h6>
            <h6 class="card-text"><b>Gender: </b>{{ parent.gender }}</h6>
        </div>
    </div>
    <a href="{% url 'accounts:edit_parent_profile' %}" class="btn btn-primary btnmedium">Edit</a>
</div>    

{% endblock %}