{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags%}

{%block links %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'accounts/css/consent.css' %}">
<script src="{% static 'accounts/js/state_city.js' %}"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js "></script>
{% endblock %}

{% block title %}
<title>Organization Information</title>
{% endblock %}

{% block userinfo %}
{% include 'partials/userinfo.html' %}
{% endblock %}

{%block content%}
<style>
.invalid-feedback{
    display:block;
}
</style>
<div class="d-flex justify-content-center">
    <div class="card shadow border rounded signup-card">
        <form action="" method="POST">
            {{form.media}}

            {% csrf_token %}
            <h2 class="mb-4">Organization Information</h2>
            <div class="col-md-12">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sts">State*</label>
                            <select onchange="print_city('state', this.selectedIndex);" id="sts" name="state"
                            class="form-control" required></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="state">City*</label>
                            <select id="state" class="form-control" required name="city"></select>
                            <script language="javascript">print_state("sts");</script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.pincode|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.type|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                {{ form.address|as_crispy_field }}
            </div>
            <div class="d-flex justify-content-around">
                <input type="submit" class="btn btn-primary btnmedium" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}