{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags%}

{%block links %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'accounts/css/consent.css' %}">
<script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js "></script>
{% endblock %}

{% block title %}
<title>Coordinator Information</title>
{% endblock %}

{% block userinfo %}
{% include 'partials/userinfo.html' %}
{% endblock %}

{%block content%}
<div class="d-flex justify-content-center">
    <div class="card shadow border rounded signup-card">
        <form action="" method="POST">
            {{form.media}}

            {% csrf_token %}
            <h2>Coordinator Information</h2>
            <br>
            <div class="col-md-12">
                {{ form.name|as_crispy_field }}
            </div>
            <br>
            <br>
            <div class="col-md-12">
                {{ form.email|as_crispy_field }}
            </div>
            <br>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.dob|as_crispy_field }} </div>

                    <div class="col-md-6">
                        {{ form.mobile_no|as_crispy_field }}
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-12">
                {{ form.school|as_crispy_field }}
            </div>
            <br>
            <div class="ml-2">{{user_creation_form|crispy}}</div>
            <div class="d-flex justify-content-around">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}