{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags%}

{% block title %}
<title>Reset Password</title>
{% endblock %}

{%block links %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block userinfo %}
{% include 'partials/userinfo.html' %}
{% endblock %}

{%block content%}
<div class="d-flex justify-content-end mb-4">
    <a href="{% url 'accounts:add_organization_form' %}" class="btn btn-info btnmedium">Download Login Credentials</a>
</div>
<div class="d-flex justify-content-center">
    <div class="card shadow border rounded reset-password">
        <form action="" method="POST">
            {{form.media}}

            {% csrf_token %}
            <h2 class="mb-4">Reset Password</h2>
            <div class="row justify-content-md-center">
                <div class="col-md-12">
                    {{ form.username|as_crispy_field }}
                </div>
            </div>
            <div class="d-flex justify-content-around">
                <input type="submit" class="btn btn-primary btnmedium" value="Reset">
            </div>
        </form>
    </div>
</div>
{% endblock %}