{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags%}

{%block links %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block title %}
<title>My Profile</title>
{% endblock %}

{% block userinfo %}
{% include 'partials/userinfo.html' %}
{% endblock %}

{%block content%}

<center><h1>My Profile</h1></center>


<div class="d-flex flex-column align-items-center">
    <div class="my-card card shadow border rounded">
        <img class="profile-pic mt-2" class="profile-pic" src={{request.user.studentsinfo.profile_pic.url}} >
        <div class="card-body">
            <h6 class="card-text"><b>Name: </b>{{ student.fname }} {{ student.mname }} {{ student.lname }}</h6>
            <h6 class="card-text"><b>Unique Number: </b>{{ student.unique_no }}</h6>
            <h6 class="card-text"><b>Email: </b>{{ student.email }}</h6>
            <h6 class="card-text"><b>Aadhar Card Number: </b>{{ student.aadhar }}</h6>
            <h6 class="card-text"><b>Mobile No: </b>{{ student.mobile_no }}</h6>
            <h6 class="card-text"><b>Date of Birth: </b>{{ student.dob }}</h6>
            <h6 class="card-text"><b>Gender: </b>{{ student.gender }}</h6>
            <h6 class="card-text"><b>Pin Code: </b>{{ student.pincode }}</h6>
            <h6 class="card-text"><b>State: </b>{{ student.state }}</h6>
            <h6 class="card-text"><b>City: </b>{{ student.city }}</h6>
            <h6 class="card-text"><b>Organization: </b>{{ student.organization }}</h6>
            <h6 class="card-text"><b>Education: </b>{{ student.secondary_reg.edu }}</h6>
            <h6 class="card-text"><b>Occupation: </b>{{ student.secondary_reg.occupation }}</h6>
            <h6 class="card-text"><b>Religion: </b>{{ student.secondary_reg.religion }}</h6>
            <h6 class="card-text"><b>Type of Family: </b>{{ student.secondary_reg.type_of_family }}</h6>
            <h6 class="card-text"><b>Number of Family Members: </b>{{ student.secondary_reg.no_of_family_members }}</h6>
            <h6 class="card-text"><b>Family Income: </b>{{ student.secondary_reg.family_income }}</h6>
            <h6 class="card-text"><b>Ration Card Color: </b>{{ student.secondary_reg.ration_card_color }}</h6>
        </div>
    </div>
    <a href="{% url 'accounts:edit_student_profile' %}" class="btn btn-primary btnmedium">Edit</a>
</div>    

{% endblock %}