{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags%}

{% block title %}
<title>Session Information</title>
{% endblock %}

{% block userinfo %}
{% include 'partials/userinfo.html' %}
{% endblock %}

{%block content%}
<div class="d-flex justify-content-center col-md-8 offset-md-2">
    <div class="card shadow border rounded signup-card">
        <form action="" method="POST">
            {{form.media}}
            
            {% csrf_token %}
            <h2 class="mb-4">Session Information</h2>
            <div class="col-md-12">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="col-md-12">
                <input type = "datetime-local" name="forms.start_date"></input>
            </div>
            <div class="d-flex justify-content-around">
                <input type="submit" class="btn btn-primary btnmedium" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}