{% extends 'partials/layout.html' %}

{% load static %} {% load crispy_forms_tags%}

{% block title %}
<title>Reset Password</title>
{% endblock %}

{%block links %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block userinfo %}
{% include 'partials/userinfo.html' %}
{% endblock %}

{%block content%}
<div class="d-flex justify-content-end mb-4">
    <div class="dropdown">
        <button style="color:white;" class="btn btn-info btnmedium dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Download Login Credentials
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Teachers</a>
            <a class="dropdown-item" href="#">Parents</a>
            <a class="dropdown-item" href="#">Students</a>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="card shadow border rounded reset-password">
        <form action="" method="POST">
            {{form.media}}

            {% csrf_token %}
            <h2 class="mb-4">Reset Password</h2>
            <div class="row justify-content-md-center">
                <div class="col-md-12">
                    {{ form.username|as_crispy_field }}
                </div>
            </div>
            <div class="d-flex justify-content-around">
                <input type="submit" class="btn btn-primary btnmedium" value="Reset">
            </div>
        </form>
    </div>
</div>
{% endblock %}